* {
  text-align: center;
}

.header {
  display: flex;
}

.login-header {
margin: auto;

}

.login {
  text-align: center;
}

.register {
  text-align: center;

}

.welcome-med {
  text-align: center;
  padding-top: 40px;
}

.add-med {
  text-align: center;
}

.add-pharm {

  text-align: center;

}

.med {
  background-color: aquamarine;
  margin: 0 60px;
}