

* {
  text-align: center;
  background-color:rgb(37,50,91) ;
  color: white;
}

.header {
  display: flex;

}

.login-header {
margin: auto;
background-color: rgb(46,58,97);
margin-right: 30px
}

.login {
  text-align: center;
}

.register {
  text-align: center;

}

.welcome-med {
  text-align: center;
  padding: 40px;
  background-color: rgb(60, 71, 121);
  width: 300px;
  margin: auto;
  border-radius: 10px;

}

.user-render  {
  background-color: rgb(60, 71, 121);
}
.your-meds {
  background-color: rgb(60, 71, 121);
}
.clock {
  background-color: rgb(60, 71, 121);

}

.add-med {
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(230,85,69);
  margin: auto;

}
.add-medication {
  background-color: rgb(230,85,69);
  border: none;

}

.add-pharmacy {
  background-color: rgb(230,85,69);
  border: none;

}

.add-pharm {
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(230,85,69);
  margin: auto;

  text-align: center;

}

.med {
  margin: 0 60px;
  background-color: rgb(109,128,198);
  border-radius: 10px;
}

.med-time {
  background-color: rgb(109,128,198);
  border-radius: 10px;


}
.med-name {
  background-color: rgb(109,128,198);

}
.with-food {
  background-color: rgb(109,128,198);

}
.last-taken{
  background-color: rgb(109,128,198);
}

h1 {
  background-color: rgb(46,58,97);
}
.pill {
  width: 100px;
  height: 100px;
  background-color: rgb(46,58,97);

}

header {
  background-color: rgb(46,58,97);
}

.title {
  background-color: rgb(46,58,97);
}

.login {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  border: solid 1px rgb(135,162,206);
  border-radius: 15px;

}

.login-button {
  background-color: rgb(230,85,69);
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin: 40px;
}
.register-link{
  width: 100px;
}

.form-input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(135,162,206);

}

.header-login {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(135,162,206);
}
.header-register {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 40px;
  background-color: rgb(135,162,206);

}

.header-logout {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(135,162,206);
}

.header-button {
  background-color: rgb(46,58,97);
}
.header-name {
  background-color: rgb(46,58,97);
  padding-right: 20px;

}

.take {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: rgb(245,197,194);
  color:  rgb(46,58,97);
  border: none


}