

* {
  text-align: center;
  background-color:rgb(37,50,91) ;
  color: white;
  font-family: Sharp Sans No1 Bold
}

.header {
  display: flex;

}

.login-header {
margin: auto;
background-color: rgb(46,58,97);
margin-right: 30px
}

.login {
  text-align: center;
}

.register {
  text-align: center;

}

.welcome-med {
  text-align: center;
  padding: 40px;
  background-color: rgb(60, 71, 121);
  width: 200px;
  margin: auto;
  border-radius: 10px;
  font-size: 30px;

}

.user-render  {
  background-color: rgb(60, 71, 121);
}
.your-meds {
  background-color: rgb(60, 71, 121);
  font-size: 20px
}
.clock {
  background-color: rgb(60, 71, 121);
  font-size: 20px;

}

.add-med {
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: rgb(208,45,65);
  /* float: left; */
  margin-left: 170px;
  margin-top: -50px;

}
.add-medication {
  background-color: rgb(208,45,65);
  border: none;
}
.add-icon {
  background-color: rgb(208,45,65);
margin-top: 12px;
}

.add-pharmacy {
  border: none;
  margin-left: 13px;
  height:0px
}

.add-pharm {
  
  text-align: center;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  border-radius: 100px;
  background-color: rgb(208,45,65);
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;

  float: left
}

.take:hover {
  transform: scale(1.2)

}
.my-pharm:hover {
  transform: scale(1.2)


}

.add-pharm:hover {
  transform: scale(1.2)

}
.add-med:hover {
  transform: scale(1.2)

}
.med {
  margin: 0 60px;
  background-color: rgb(109,128,198);
  border-radius: 10px;
}

.med-time {
  background-color: rgb(109,128,198);
  border-radius: 10px;
  padding-top: 20px;
  margin-left: 50px;
  /* margin-top: 60px; */
  /* display: flex; */


}

.med-name {
  background-color: rgb(109,128,198);
  margin-left: 50px;
  text-align: left;
  font-size: 25px;
  margin-top: -10px;
}
.med-time {
  background-color: rgb(109,128,198);
  border-radius: 10px;
  text-align: left;
}
.med-pills {
  background-color: rgb(109,128,198);
  display: flex;
margin-top: -35px;
float: right;
margin-right: 20px


}
.med-doc {
  background-color: rgb(109,128,198);
  text-align: left;
    margin-left: 53px;
    margin-top: -20px
}

.with-food {
  background-color: rgb(109,128,198);

}
.last-taken{
  background-color: rgb(109,128,198);
}

h1 {
  background-color: rgb(46,58,97);
}
.pill {
  width: 100px;
  height: 100px;
  background-color: rgb(46,58,97);

}

header {
  background-color: rgb(46,58,97);
}

.title {
  background-color: rgb(46,58,97);
  font-size: 30px;
}

.login {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  border: solid 1px rgb(135,162,206);
  border-radius: 15px;

}

.login-button {
  background-color: rgb(208,45,65);
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin: 40px;
}
.register-link{
  width: 100px;
}

.form-input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(135,162,206);

}

.header-login {
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-left: 40px;
  border: solid 1px rgb(135,162,206);
}

.header-login:hover {
  background-color: rgb(135,162,206);
}
.header-register:hover{
  background-color: rgb(135,162,206);
}
.header-logout:hover{
  background-color: rgb(135,162,206);
}
.header-register {
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-left: 40px;
  border: solid 1px rgb(135,162,206);

}

.header-logout {
  border: none;
  width: 80px;
  height: 30px;
  margin-left: -60px;
  border-radius: 10px;
  border: solid 1px rgb(135,162,206);
}

.header-button {
  background-color: rgb(46,58,97);
}
.header-name {
  background-color: rgb(46,58,97);
  margin-right: 70px;


}

.take {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: rgb(245,197,194);
  color:  rgb(46,58,97);
  border: none;


}

.sign-in-now {
  text-align: center;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px rgb(135,162,206);
  margin: auto;
  margin: 20px;

}

.sign-in-now:hover {
background-color: rgb(135,162,206);
}

.log-in-now:hover {
  background-color: rgb(135,162,206);
}
.log-in-now {
  text-align: center;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px rgb(135,162,206);
  margin: auto;

}

.create-form {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  border: solid 1px rgb(135,162,206);
  border-radius: 15px;
  padding-bottom: 20px;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(135,162,206);
}

.pharmacy-view {
  background-color: rgb(109,128,198);
  width: 300px;
  margin: auto;

  border-radius: 20px;
}

.pharmacy-name {
  padding-top: 20px;
  background-color: rgb(109,128,198);
  border-radius: 20px;

}
.pharmacy-address {
  background-color: rgb(109,128,198);

}
.pharmacy-phone {
  background-color: rgb(109,128,198);
  border-radius: 10px;
  padding-bottom: 20px;


}

.my-pharmacy {
  width: 100px;
  background-color: rgb(208,45,65);
  margin: auto


}
.my-pharm {
  text-align: center;
  width: 150px;
  height: 40px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgb(208,45,65);
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-left: 60px;
  float: left;
  margin-bottom: 20px;
}

.date {
  background-color: rgb(109,128,198);

}

.med-head {
  text-align: left;
  margin-left: 60px;
  /* float: left; */
  /* margin-left: 70px; */
  font-size: 20px;
}

.title-header {
  margin-top: 30px;
  margin-left: -20px;
}

.logout-name-combo{
  margin-right: -20px;
  background-color: rgb(46,58,97);

}

.take-container {
  display: flex;
  float: right;
  margin-top: -60px;
  margin-right: 20px;
  background-color: rgb(109,128,198);

}

.back-pharmacy {
  background-color: rgb(208,45,65);
  margin: auto

}

.back-pharm {
  text-align: center;
  width: 150px;
  height: 40px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgb(208,45,65);
  margin: auto;
  display: flex;
  margin-top: 20px;
}

.pop-ty {
  background-color: white;
  color: black
}

.edit-icon {
  background-color: rgb(109,128,198);

  border-radius: 100px;
  border: none;
  margin-bottom: 10px;

}

.delete-icon {
  background-color: rgb(109,128,198);
  border-radius: 100px;
  border: none;

}

.icon {
  background-color: rgb(109,128,198);
  font-size: 20px;

}

.bottleone {
width: 20%;
margin: 10px;
}

.bottleone:hover {    
 animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

  @keyframes shake {
from {
  -webkit-transform: rotate(10deg);
}
to {
 -webkit-transform-origin:center center;
 -webkit-transform: rotate(-10deg);
}

}

.bottletwo {
  width: 18%;
  margin: 10px;
}

.bottletwo:hover{
  animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

  @keyframes shake {
from {
  -webkit-transform: rotate(10deg);
}
to {
 -webkit-transform-origin:center center;
 -webkit-transform: rotate(-10deg);
}
}

.bottlethree:hover{
  animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

  @keyframes shake {
from {
  -webkit-transform: rotate(10deg);
}
to {
 -webkit-transform-origin:center center;
 -webkit-transform: rotate(-10deg);
}
}
.bottlefour:hover{
  animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

  @keyframes shake {
from {
  -webkit-transform: rotate(10deg);
}
to {
 -webkit-transform-origin:center center;
 -webkit-transform: rotate(-10deg);
}
}
.bottlethree {
  width: 20%;
  margin: 10px;
}

.bottlefour {
  width: 20%;
  margin: 10px;
}

.bottle-container {
max-width: 700px;
margin: auto
;}

.home-container{
margin-top: 130px;
}
.slogan{
  font-size: 40px;
}

.med-map-container {
  max-width: 800px;
}

.icon:hover {
  transform: scale(1.2)
}

@media only screen and (min-width: 800px) {
 

  .welcome-med {
    width: 400px;
    margin: auto
  }


  .entire-container {
    width: 800px;
    margin: auto
  }




.header-register {
  margin: 5px
}

  /* .my-pharm {
    text-align: center;
    width: 180px;
    height: 90px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(208,45,65);
    margin: auto;
    display: absolute;
    margin-top: -462px;
    margin-right: 160px;
    float: right;
    margin-bottom: 20px;
  }

  .add-pharm {
  
    text-align: center;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    border-radius: 100px;
    background-color: rgb(208,45,65);
    margin: auto;
    display: absolute;
    margin-top: 1300px;
    margin-right: 225px;
  
    float: right
  } */
}